@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <img src="https://i.pinimg.com/736x/fd/2c/af/fd2caf9e03c3d56571972365b53d9ede--sarcastic-memes-funny-memes.jpg" style="height: 350px;" alt="funny">
</p>
    
        <strong>E-mail:</strong> <a href="mailto:damil84@gmail.com">damil84@gmail.com</a><br/>
        <strong>Github:</strong> <a href="https://github.com/damil84">damil84</a>