@{
    ViewData["Title"] = "Monday";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@

<center><h1>MONDAY</h1></center>
<p></p>
<img src="http://i68.tinypic.com/nxlyq8.png"
     alt="Monday" class="img-responsive""/>

