
@{
    ViewData["Title"] = "Wednesday";
}

<center><h1>WEDNESDAY</h1></center>
<p></p>
<p></p>
<center><img src="http://i68.tinypic.com/23r3fb5.jpg"
     alt="Wednesday" class="img-responsive"></center>