@{
    ViewData["Title"] = "Bank Of Simba Index Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body><h1><center>Welcome to Bank Of Simba</center></h1>
    <br />
<p style="text-align:center;">
    <img src="https://dtkp6g0samjql.cloudfront.net/uploads/photo/file/11155343/gallery_hero_c24474e2-4fab-43d7-8ee4-05ff660834ff.jpg" alt="Welcome"></p>
    </body>
</html>
