@*@Model HelloWorldREST.Models.Greeting*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Greetings!</title>
</head>
<body>
    Hello Wolrd!
    Your id number is: @Model.Id!
</body>
</html>