@model AspNetPractice.Models.Contact

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home, Sweet Home.</title>
</head>
<body>
    Hi there, @Model.FirstName @Model.LastName Your id is: @Model.Id!
    </body>
</html>