@model Counter.Models.CounterModel
 

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>CounterRaiser</title>
</head>
<body>
    @Model.counter <br>
    <form action="/" method="post">
        <input type="submit" value="Raise this number" />
    </form>
</body>
</html>