container {
    margin: 0 auto;
    width: xxxpx;
    text-align: left;
  }

body {
    padding-top: 0;
    padding-right: 10%;
    padding-bottom: 0;
    padding-left: 10%;

    
}


.topnav {
    background-color: #333333;
    overflow: hidden;
    background-image:url(dog.png);
    background-repeat: no-repeat;
    background-size: 3.5em;
    }
    
    .topnav a {
        float: right;
        display: block;
        color: #ff0099;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        font-size: 17px;
    }
  
    
    .topnav img {
        height: 50px;
        width: 50px; 
        
    }

    .doggy{
        width:50px;
        height:50px;
        background-image:url(dog.png);
        }

h1 {
  font-size: 65px;
  font-family: 'Merriweather', serif;
  font-family: 'Lobster', cursive;
}


h2 {
    font-size: 35px;
    color: rgb(250, 89, 118);
}
h3 {
    font-size: 25px;
}

img {
  width: 200px;
}

.images {
  display: inline
}